@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans+Narrow:wght@400;700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    'Plus Jakarta Sans',
    'ui-sans-serif',
    'system-ui',
    'sans-serif',
    -apple-system,
    BlinkMacSystemFont,
    'Montserrat',
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  @apply m-0;
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
  letter-spacing: 0px;
}

p:not(p.quote):last-child {
  margin-bottom: 0;
}
p.quote {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 1.5rem 0;
  letter-spacing: 0px;
  padding: 1rem 1rem 0rem 0rem;
  color: var(--card);
  font-style: italic;
}
p:has(+ ul):not(.bg-sidebar ul) + ul:not(:has(+ p)) {
  margin-top: 2rem;
}
p:has(+ ul):not(.bg-sidebar ul) + ul:has(+ p) {
  margin: 2rem 0 2rem 0;
}
li:not(.group\/menu-sub-item):not(.group\/menu-item):not(nav li) {
  letter-spacing: 0px;
  line-height: 1.25;
}

a {
  color: hsl(var(--link));
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
}
h1 {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --radius: 0.375rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.8711 0.1775 91.69);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.795 0.184 86.047);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.795 0.184 86.047);
  --sidebar-primary-foreground: oklch(0.421 0.095 57.708);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.795 0.184 86.047);
  --brand-primary-new: oklch(0.7291 0.1387 79.63);
  --brand-primary-new-foreground: oklch(0.5299 0.1858 262.16);
  --brand-bi-primary: oklch(0.852 0.199 91.936);
  --brand-bi-primary-foreground: oklch(0 0 0);
  --brand-bi-secondary: oklch(0.1789 0.0156 248.71);
  --brand-bi-secondary-foreground: oklch(0.985 0 0);
  --brand-sul-primary: oklch(0.2797 0.0706 259.32);
  --brand-sul-primary-foreground: oklch(0.985 0 0);
  --brand-sul-secondary: oklch(0.852 0.199 91.936);
  --brand-sul-secondary-foreground: oklch(0.985 0 0);
  --brand-sul-complimentary-gray: oklch(0.503 0.0034 264.53);
  --brand-sul-complimentary-lt-gray: oklch(0.8825 0.0029 84.56);
  --brand-sul-complimentary-blue: oklch(0.5981 0.0665 254.02);
  --link: 38 92% 50%; /* HSL values for light mode link color */
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.8711 0.1775 91.69);
  --primary-foreground: oklch(0.421 0.095 57.708);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.554 0.135 66.442);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.795 0.184 86.047);
  --sidebar-primary-foreground: oklch(0.421 0.095 57.708);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.554 0.135 66.442);
  --brand-primary-new: oklch(0.7291 0.1387 79.63);
  --brand-primary-new-foreground: oklch(0.5299 0.1858 262.16);
  --brand-bi-primary: oklch(0.985 0 0);
  --brand-bi-primary-foreground: oklch(0.852 0.199 91.936);
  --brand-bi-secondary: oklch(0.852 0.199 91.936);
  --brand-bi-secondary-foreground: oklch(0.985 0 0);
  --brand-sul-primary: oklch(0.2797 0.0706 259.32);
  --brand-sul-primary-foreground: oklch(0.985 0 0);
  --brand-sul-secondary: oklch(0.852 0.199 91.936);
  --brand-sul-secondary-foreground: oklch(0.985 0 0);
  --brand-sul-complimentary-gray: oklch(0.503 0.0034 264.53);
  --brand-sul-complimentary-lt-gray: oklch(0.8825 0.0029 84.56);
  --brand-sul-complimentary-blue: oklch(0.5981 0.0665 254.02);
  --link: 48 96% 89%; /* HSL values for dark mode link color */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-brand-primary-new: var(--brand-primary-new);
  --color-brand-primary-new-foreground: var(--brand-primary-new-foreground);
  --color-brand-bi-primary: var(--brand-bi-primary);
  --color-brand-bi-primary-foreground: var(--brand-bi-primary-foreground);
  --color-brand-bi-secondary: var(--brand-bi-secondary);
  --color-brand-bi-secondary-foreground: var(--brand-bi-secondary-foreground);
  --color-brand-sul-primary: var(--brand-sul-primary);
  --color-brand-sul-primary-foreground: var(--brand-sul-primary-foreground);
  --color-brand-sul-secondary: var(--brand-sul-secondary);
  --color-brand-sul-secondary-foreground: var(--brand-sul-secondary-foreground);
  --color-brand-sul-complimentary-gray: var(--brand-sul-complimentary-gray);
  --color-brand-sul-complimentary-lt-gray: var(
    --brand-sul-complimentary-lt-gray
  );
  --color-brand-sul-complimentary-blue: var(--brand-sul-complimentary-blue);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
